html, body
{
  width: 100%; 
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  min-height:  67vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.App-link {
  color: #09d3ac;
}

.continue-button {
  margin-top: 20px !important;
}